Source: pynmea2
Section: python
Priority: optional
Maintainer: EngSaS Maintainer <info@engsas.de>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-all-dev, python3-setuptools
Standards-Version: 4.0.0
Homepage: https://github.com/Knio/pynmea2
Vcs-Git: https://github.com/engsas/pynmea2.git
Vcs-Browser: https://github.com/engsas/pynmea2
X-Python3-Version: >= 3.2
Testsuite: autopkgtest-pkg-python

Package: python3-pynmea2
Architecture: any  
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${python3:Provides}
Description: pynmea2 is a Python3 library for the NMEA 0183 protocol
 You can parse individual NMEA sentences and you can create   
 NMEASentence objects from your data. Also NMEA 0183 data streams 
 could be processed.
 .
 This package installs the library for Python 3.
